In [35]:
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as stats

In [36]:
companies = pd.read_excel('Largest Companies in the World.xlsx')
companies.head()

,Global Rank,Company,Sales ($billion),Profits ($billion),Assets ($billion),Market Value ($billion),Country,Continent,Latitude,Longitude
0,1,ICBC,134.8,37.8,2813.5,237.3,China,Asia,35.86166,104.195397
1,2,China Construction Bank,113.1,30.6,2241.0,202.0,China,Asia,35.86166,104.195397
2,3,JPMorgan Chase,108.2,21.3,2359.1,191.4,USA,North America,37.09024,-95.712891
3,4,General Electric,147.4,13.6,685.3,243.7,USA,North America,37.09024,-95.712891
4,5,Exxon Mobil,420.7,44.9,333.8,400.4,USA,North America,37.09024,-95.712891

In [37]:
companies_real = companies.drop(["Global Rank"], axis=1)
companies_real.head()

,Company,Sales ($billion),Profits ($billion),Assets ($billion),Market Value ($billion),Country,Continent,Latitude,Longitude
0,ICBC,134.8,37.8,2813.5,237.3,China,Asia,35.86166,104.195397
1,China Construction Bank,113.1,30.6,2241.0,202.0,China,Asia,35.86166,104.195397
2,JPMorgan Chase,108.2,21.3,2359.1,191.4,USA,North America,37.09024,-95.712891
3,General Electric,147.4,13.6,685.3,243.7,USA,North America,37.09024,-95.712891
4,Exxon Mobil,420.7,44.9,333.8,400.4,USA,North America,37.09024,-95.712891

In [38]:
companies_real.describe()['Sales ($billion)']['mean']

19.26590436590437

In [39]:
companies_real.describe()['Assets ($billion)']['mean']

79.50779625779626

In [40]:
companies_real.describe()['Market Value ($billion)']['mean']

19.558160083160082

In [41]:
forbes = pd.read_csv("./Forbes Top2000 2017.csv")
forbes.head()

,Unnamed: 0,Rank,Company,Country,Sales,Profits,Assets,Market Value,Sector,Industry
0,NaN,1,ICBC,China,151.4,42.0,3473.2,229.8,Financials,Major Banks
1,NaN,2,China Construction Bank,China,134.2,35.0,3016.6,200.5,Financials,Regional Banks
2,NaN,3,Berkshire Hathaway,United States,222.9,24.1,620.9,409.9,Financials,Investment Services
3,NaN,4,JPMorgan Chase,United States,102.5,24.2,2513.0,306.6,Financials,Major Banks
4,NaN,5,Wells Fargo,United States,97.6,21.9,1943.4,274.4,Financials,Major Banks

In [42]:
forbes_all = forbes.drop(["Unnamed: 0"], axis=1)
display(forbes_all)

,Rank,Company,Country,Sales,Profits,Assets,Market Value,Sector,Industry
0,1,ICBC,China,151.400,42.000,3473.2,229.800,Financials,Major Banks
1,2,China Construction Bank,China,134.200,35.000,3016.6,200.500,Financials,Regional Banks
2,3,Berkshire Hathaway,United States,222.900,24.100,620.9,409.900,Financials,Investment Services
3,4,JPMorgan Chase,United States,102.500,24.200,2513.0,306.600,Financials,Major Banks
4,5,Wells Fargo,United States,97.600,21.900,1943.4,274.400,Financials,Major Banks
...,...,...,...,...,...,...,...,...,...
1995,1996,BEKB-BCBE,Switzerland,0.555,0.131,27.9,1.700,Financials,Regional Banks
1996,1997,Fastighets Balder,Sweden,0.630,0.639,10.2,3.800,Materials,NaN
1997,1998,Akamai Technologies,United States,2.300,0.316,4.4,10.100,Information Technology,Computer Services
1998,1999,Oita Bank,Japan,0.523,0.071,27.9,0.595,Financials,Regional Banks
1999,2000,Tech Mahindra,India,4.200,0.469,3.6,6.700,Information Technology,NaN

In [43]:
forbes_list = forbes_all.Company.values.tolist()

In [44]:
forbes_list

['ICBC',
 'China Construction Bank',
 'Berkshire Hathaway',
 'JPMorgan Chase',
 'Wells Fargo',
 'Agricultural Bank of China',
 'Bank of America',
 'Bank of China',
 'Apple',
 'Toyota Motor',
 'AT&T',
 'Citigroup',
 'Exxon Mobil',
 'General Electric',
 'Samsung Electronics',
 'Ping An Insurance Group',
 'Wal-Mart Stores',
 'Verizon Communications',
 'Microsoft',
 'Royal Dutch Shell',
 'Allianz',
 'China Mobile',
 'BNP Paribas',
 'Alphabet',
 'China Petroleum & Chemical',
 'Total',
 'AXA Group',
 'Daimler',
 'Volkswagen Group',
 'Mitsubishi UFJ Financial',
 'Comcast',
 'Johnson & Johnson',
 'Banco Santander',
 'Bank of Communications',
 'Nestle',
 'UnitedHealth Group',
 'Nippon Telegraph & Tel',
 'Itaú Unibanco Holding',
 'Softbank',
 'Gazprom',
 'General Motors',
 'China Merchants Bank',
 'IBM',
 'Royal Bank of Canada',
 'Japan Post Holdings',
 'Procter & Gamble',
 'Pfizer',
 'HSBC Holdings',
 'Goldman Sachs Group',
 'Siemens',
 'BMW Group',
 'China Life Insurance',
 'ING Group',
 'Intel',
 'Postal Savings Bank Of China',
 'Sberbank',
 'TD Bank Group',
 'Cisco Systems',
 'Commonwealth Bank',
 'Morgan Stanley',
 'Novartis',
 'Banco Bradesco',
 'Industrial Bank',
 'Ford Motor',
 'Shanghai Pudong Development',
 'CVS Health',
 'Walt Disney',
 'Prudential',
 'Prudential Financial',
 'Oracle',
 'China State Construction Engineering',
 'Citic Pacific',
 'Boeing',
 'Honda Motor',
 'China Minsheng Banking',
 'Westpac Banking Group',
 'Deutsche Telekom',
 'China Citic Bank',
 'Roche Holding',
 'UBS',
 'Bank of Nova Scotia',
 'Rosneft',
 'Amazon.com',
 'PepsiCo',
 'Sumitomo Mitsui Financial',
 'Coca-Cola',
 'United Technologies',
 'Sanofi',
 'Bayer',
 'Mizuho Financial',
 'Zurich Insurance Group',
 'ANZ',
 'BASF',
 'Walgreens Boots Alliance',
 'Nissan Motor',
 'US Bancorp',
 'American Express',
 'Hon Hai Precision',
 'Enel',
 'Merck',
 'National Australia Bank',
 'PetroChina',
 'Unilever',
 'Hyundai Motor',
 'BBVA-Banco Bilbao Vizcaya',
 'Reliance Industries',
 'Charter Communications',
 'SAIC Motor',
 'Chubb',
 'Telefónica',
 'AIA Group',
 'Société Générale',
 'Dow Chemical',
 'Home Depot',
 'Lloyds Banking Group',
 'Medtronic',
 'Kraft Heinz Company',
 'Saudi Basic Industries',
 'Facebook',
 'Munich Re',
 'Intesa Sanpaolo',
 'Barclays',
 'Rio Tinto',
 'BHP Billiton',
 'CK Hutchison',
 'Anheuser-Busch InBev',
 'Taiwan Semiconductor',
 'Capital One Financial',
 'LukOil',
 'Swiss Re',
 'Amgen',
 'Banco do Brasil',
 'Bank of Montreal',
 'Gilead Sciences',
 'China Communications Construction',
 'Honeywell International',
 'Manulife',
 'Korea Electric Power',
 'Generali Group',
 'Alibaba',
 'KDDI',
 'China Telecom',
 'AbbVie',
 'Tokio Marine Holdings',
 'Iberdrola',
 'EDF',
 'PNC Financial Services',
 'Tencent Holdings',
 'Allergan',
 'China Everbright Bank',
 'Credit Agricole',
 'Lockheed Martin',
 'Time Warner',
 'Duke Energy',
 'Anthem',
 'Vale',
 'Nordea Bank',
 'Express Scripts',
 'United Parcel Service',
 'Aetna',
 'China Shenhua Energy',
 'VINCI',
 'Bank of New York Mellon',
 'Renault',
 'China Railway Group',
 'EADS',
 'China Railway Construction',
 'China Vanke',
 'Jardine Matheson',
 'Qualcomm',
 'Hewlett Packard Enterprise',
 'British American Tobacco',
 'Visa',
 'China Pacific Insurance',
 'MetLife',
 'AstraZeneca',
 'Altria Group',
 'SAP',
 'Costco Wholesale',
 'Travelers',
 'Philip Morris International',
 'Union Pacific',
 'Delta Air Lines',
 'Southern Company',
 "Lowe's",
 'National Grid',
 'Legal & General Group',
 'McKesson',
 'Christian Dior',
 'PTT PCL',
 'Dai-ichi Life Insurance',
 'Twenty-First Century Fox',
 'Canadian Imperial Bank',
 'FedEx',
 'GlaxoSmithKline',
 'Deutsche Post',
 '3M',
 "L'Oréal Group",
 'Aflac',
 'Allstate',
 'Hitachi',
 'Brookfield Asset Management',
 'BT Group',
 'NextEra Energy',
 'BlackRock',
 'Continental',
 'MS&AD Insurance',
 'Aviva',
 'Cigna',
 'Phillips 66',
 'Valero Energy',
 'Enbridge',
 'Mondelēz International',
 "People's Insurance Company",
 "McDonald's",
 'ArcelorMittal',
 'East Japan Railway',
 'Itochu',
 'Japan Tobacco',
 'EI du Pont de Nemours',
 'Eli Lilly',
 'Panasonic',
 'Sun Hung Kai Properties',
 'Fiat Chrysler Automobiles',
 'LafargeHolcim',
 'Qatar National Bank',
 'Target',
 'Fresenius',
 'Danaher',
 'Danske Bank',
 'General Dynamics',
 'Reynolds American',
 'Denso',
 'Bristol-Myers Squibb',
 'CRRC',
 'ABB',
 'Exelon',
 'Cathay Financial',
 'Sun Life Financial',
 'Repsol',
 'Kroger',
 'Abbott Laboratories',
 'HCA Holdings',
 'State Bank of India',
 'DBS Group',
 'Oil & Natural Gas',
 'American Airlines Group',
 'BB&T',
 'Nike',
 'Schneider Electric',
 'Thermo Fisher Scientific',
 'Danone',
 'Samsung Life Insurance',
 'Air Liquide',
 'Huaxia Bank',
 'Orix',
 'Bank of Beijing',
 'HDFC Bank',
 'KBC Group',
 'Deere & Company',
 'Diageo',
 'Central Japan Railway',
 'Liberty Global',
 'Indian Oil',
 'Shinhan Financial Group',
 'Canon',
 'Synchrony Financial',
 'Saint-Gobain',
 'United Continental Holdings',
 'Carnival',
 'HP',
 'Accenture',
 'Country Garden Holdings',
 'State Street',
 'Volvo Group',
 'Inditex',
 'Seven & I Holdings',
 'Mitsubishi Electric',
 'Bridgestone',
 'PG&E',
 'Cardinal Health',
 'Telstra',
 'Dominion Resources',
 'Nomura',
 'Raytheon',
 'Henkel',
 'Marathon Petroleum',
 'Merck',
 'Peugeot',
 'Tata Motors',
 'Archer Daniels Midland',
 'CNP Assurances',
 'Natixis',
 'China Huarong Asset Management',
 'Imperial Tobacco Group',
 'BCE',
 'Northrop Grumman',
 'LyondellBasell Industries',
 'Posco',
 'Telecom Italia',
 'Oversea-Chinese Banking',
 'KB Financial Group',
 'Charles Schwab',
 'Orange',
 'Surgutneftegas',
 'Sompo',
 'Gas Natural Fenosa',
 'WPP',
 'Bank Of Shanghai',
 'ICICI Bank',
 'Poly Real Estate',
 'Hyundai Mobis',
 'DNB',
 'Philips',
 'AmerisourceBergen',
 'Heineken Holding',
 'CRH',
 'Discover Financial Services',
 'Safran',
 'Etisalat',
 'CaixaBank',
 'Eaton',
 'Fubon Financial',
 'Sumitomo',
 'SunTrust Banks',
 'Greenland Holdings Group',
 'China Cinda Asset Management',
 'Anglo American',
 'China Resources Land',
 'Royal Ahold Delhaize N.V.',
 'SingTel',
 'United Overseas Bank',
 'Subaru',
 'Automatic Data Processing',
 'Midea Group',
 'Linde',
 'KIA Motors',
 'Hartford Financial Services',
 'Southwest Airlines',
 'América Móvil',
 'Principal Financial Group',
 'Fannie Mae',
 'Ameriprise Financial',
 'Macquarie Group',
 'Carrefour',
 'Celgene',
 'China Evergrande Group',
 'Takeda Pharmaceutical',
 'SK Hynix',
 'Saudi Telecom',
 'Tyson Foods',
 'Sinohydro Group',
 'Reckitt Benckiser Group',
 'CSX',
 'Freddie Mac',
 'Lincoln National',
 'Kinder Morgan',
 'Power Corp of Canada',
 'BP',
 'Chevron',
 'Michelin Group',
 'Cheung Kong Property Holdings',
 'SK Holdings',
 'Gree Electric Appliances',
 'BAE Systems',
 'Bank Of Jiangsu',
 'Edison International',
 'Kansai Electric Power',
 'New China Life Insurance',
 'Starbucks',
 'Centrica',
 'Biogen',
 'Canadian National Railway',
 'HDFC',
 'Novo Nordisk',
 'Swedbank',
 'Tata Consultancy Services',
 'Monsanto',
 'Mastercard',
 'Femsa',
 'PayPal',
 'Progressive',
 'Svenska Handelsbanken',
 'Mitsui Fudosan',
 'SEB',
 'Bank Rakyat Indonesia',
 'Texas Instruments',
 'Wilmar International',
 'Daiwa House Industry',
 'Baidu',
 'Consolidated Edison',
 'Maybank',
 'DISH Network',
 'Citic Securities',
 'American Electric',
 'Suzuki Motor',
 'VTB Bank',
 'Metallurgical Corp of China',
 'Petrobras',
 'Norfolk Southern',
 'TJX Cos',
 'Investor AB',
 'American International Group',
 'Sempra Energy',
 'International Airlines',
 'SSE',
 'eBay',
 'NTPC',
 'Old Mutual',
 'Magna International',
 'China Yangtze Power',
 'NN Group',
 'Sumitomo Mitsui Trust',
 'General Mills',
 'Talanx',
 'The Priceline Group',
 'EXOR',
 'Glencore International',
 'Vodafone',
 'Huaneng Power International',
 'Standard Bank Group',
 'Swiss Life Holding',
 'FirstRand',
 'Sysco',
 'International Paper',
 'Vivendi',
 'Kimberly-Clark',
 'National Commercial Bank',
 'Erste Group Bank',
 'Baoshan Iron & Steel',
 'Eni',
 'Saudi Electricity',
 'Corning',
 'Daikin Industries',
 'Mitsubishi Chemical',
 'Becton Dickinson',
 'SK Innovation',
 'Humana',
 'Emerson Electric',
 'Nippon Steel & Sumitomo Metal',
 'Deutsche Bank',
 'Toyota Industries',
 'Pernod Ricard',
 'Aon',
 'IntercontinentalExchange',
 'Stryker',
 'Fujifilm Holdings',
 'Fosun International',
 'Sony',
 'Chubu Electric Power',
 'Las Vegas Sands',
 'Xcel Energy',
 'Fifth Third Bancorp',
 'Bouygues',
 'ENGIE',
 'Steinhoff International',
 'Wheelock',
 'Marsh & McLennan',
 'CBS',
 'Fujitsu',
 'Statoil',
 'Wesfarmers',
 'Axis Bank',
 'HeidelbergCement',
 'Illinois Tool Works',
 'Formosa Petrochemical',
 'Marriott International',
 'Adidas',
 'CLP Holdings',
 'Thomson Reuters',
 'Kering',
 'Colgate-Palmolive',
 'Richemont',
 'Shin-Etsu Chemical',
 'Mapfre',
 'Poste Italiane',
 'Aisin Seiki',
 'Mitsubishi',
 'Mitsubishi Estate',
 'PPL',
 'Waste Management',
 'Micron Technology',
 'Larsen & Toubro',
 'Aegon',
 'Teva Pharmaceutical',
 'Compass Group',
 'Suncor Energy',
 'EDP-Energias de Portugal',
 'Syngenta',
 'Tenaga Nasional',
 'Credit Suisse Group',
 'Hana Financial Group',
 'Sampo',
 'Bank Mandiri',
 'Schlumberger',
 'UniCredit Group',
 'M&T Bank',
 'Thales',
 'Applied Materials',
 'Royal Bank of Scotland',
 'SK Telecom',
 'TE Connectivity',
 'Caterpillar',
 'China Merchants Shekou Industrial Zone Holdings',
 'Ecolab',
 'H&M',
 'Omnicom Group',
 'Chinatrust Financial',
 'Komatsu',
 'Haitong Securities',
 'Grupo ACS',
 'Resona Holdings',
 'Bharti Airtel',
 'Deutsche Lufthansa',
 'Al Rajhi Bank',
 'Swisscom',
 'Couche Tard',
 'Loews',
 'ConocoPhillips',
 'Baxter International',
 'Praxair',
 'Kyocera',
 'Garanti Bank',
 'China Unicom',
 'CIC Group',
 'Kubota',
 'Isbank',
 'Astellas Pharma',
 'CNOOC',
 'Simon Property Group',
 'ASML Holding',
 'British Sky Broadcasting',
 'Cummins',
 'China Zheshang Bank',
 'Standard Chartered',
 'Tokyo Electric Power',
 'Cognizant Technology',
 'Viacom',
 'Sasol',
 'Public Service Enterprise Group',
 'Coal India',
 'Novatek',
 'Kirin Holdings',
 'T&D Holdings',
 'Mitsui',
 'Regions Financial',
 'Ingersoll Rand',
 'CenturyLink',
 'Bank of Nanjing',
 'Dongfeng Motor Group',
 'Citizens Financial Group',
 'Swire Pacific',
 'RELX Group',
 'Samsung Fire & Marine',
 'Associated British Foods',
 'Standard Life',
 'Ally Financial',
 'Møller-Maersk',
 'Ecopetrol',
 'National Bank of Canada',
 'Sumitomo Electric',
 'Shire',
 'Akzo Nobel',
 'Bank Central Asia',
 'Marubeni',
 'DTE Energy',
 'Koç Holding',
 'Unum',
 'Best Buy',
 'Atlas Copco',
 'MTR',
 'Suncorp Group',
 'Emirates NBD',
 'LG Chem',
 'QBE Insurance Group',
 'Northern Trust',
 'CME Group',
 'Otsuka Holding',
 'Altice',
 'American Tower',
 'Sinopharm Group',
 'Falabella',
 'Bharat Petroleum',
 'Newell Brands',
 'Akbank',
 'Norilsk Nickel',
 'Atlantia',
 'Tesco',
 'MGM Resorts',
 'Dollar Tree',
 'GFNorte',
 'Broadcom',
 'Woori Bank',
 'Guotai Junan Securities',
 'Constellation Brands',
 'Royal Caribbean Cruises',
 'Air Products & Chemicals',
 'Infosys',
 'BYD',
 'KeyCorp',
 'Johnson Controls International',
 'Asahi Kasei',
 'New World Development',
 'Siam Cement',
 'Toray Industries',
 'Grupo Mexico',
 'E.ON',
 'Dell Technologies',
 'Nokia',
 'Eletrobrás',
 'Legend Holding',
 'Dollar General',
 'Banco de Sabadell',
 'Eversource Energy',
 'China Taiping Insurance',
 'Hyundai Heavy Industries',
 'Sekisui House',
 'Siam Commercial Bank',
 'China Eastern Airlines',
 'Cemex',
 'Sumitomo Realty',
 'Murata Manufacturing',
 'WEC Energy Group',
 'JXTG Holdings',
 'China Fortune Land Development',
 'Evonik',
 'Henderson Land',
 'China Southern Airlines',
 'ThyssenKrupp Group',
 'Whirlpool',
 'Paccar',
 'Public Bank',
 'Bank of Ningbo',
 'Valeo',
 'Asahi Group Holdings',
 'Unibail-Rodamco',
 'Delphi Automotive',
 'Bunge',
 'Capgemini',
 'Mylan',
 'Sodexo',
 'Kasikornbank',
 'TELUS',
 'Formosa Chemicals',
 'Kao Corp',
 'VMware',
 'Kweichow Moutai',
 'SCA',
 'Fidelity National Information',
 'Aeon',
 'Centene',
 'Great Wall Motor',
 'Telkom Indonesia',
 'Molson Coors Brewing',
 'Naspers',
 'Stanley Black & Decker',
 'Nucor',
 'Transneft',
 'JD.com',
 'National Bank of Abu Dhabi',
 'West Japan Railway',
 'DaVita',
 'Commerzbank',
 'Fortescue Metals Group',
 'Nan Ya Plastics',
 'Solvay',
 'Longfor Properties',
 'Rogers Communications',
 'Barrick Gold',
 'China Reinsurance Group',
 'CIMB Group Holdings',
 'Krung Thai Bank',
 'Tatneft',
 'WH Group',
 'Kellogg',
 'Recruit Holdings',
 'Fast Retailing',
 'Estée Lauder',
 'Allied Irish Banks',
 'PKN Orlen',
 'BAIC Motor',
 'Mazda Motor',
 'Weyerhaeuser',
 'Woolworths',
 'Dong Energy',
 'Level 3 Communications',
 'Franklin Resources',
 'Nidec',
 'George Weston',
 'Lenovo Group',
 'LG Display',
 'Activision Blizzard',
 'Grupo Aval',
 'All Nippon Airways',
 'Reinsurance Group of America',
 'Tesoro',
 'Samsung C&T',
 'RWE Group',
 'Guosen Securities',
 'TransCanada',
 'Adobe Systems',
 'Teliasonera',
 'Dentsu',
 'Deutsche Boerse',
 'Daiwa Securities',
 'GF Securities',
 'Textron',
 'Mitsubishi Heavy Industries',
 'Republic Services',
 'Ericsson',
 'Isuzu Motors',
 'Anhui Conch Cement',
 'First Data',
 'Vonovia',
 'Telenor',
 'Halliburton',
 'PPG',
 'CGN Power',
 'Bankia',
 'Chunghwa Telecom',
 'Veolia Environnement',
 'Occidental Petroleum',
 'J Sainsbury',
 'Bancolombia',
 'Sherwin-Williams',
 'NVIDIA',
 'HAL Trust',
 'VF',
 'Yum Brands',
 'Qingdao Haier',
 'Prologis',
 'Goodyear',
 'Liberty Interactive',
 'Coca-Cola European Partners',
 'Ross Stores',
 'CNH Industrial',
 "Macy's",
 'XL Group',
 'Parker-Hannifin',
 'Sabanci Holding',
 'Annaly Capital Management',
 'Industrial Bank of Korea',
 'Hanwha',
 'Essilor International',
 'Kotak Mahindra Bank',
 'Kyushu Electric Power',
 'Scor',
 'Chongqing Changan Auto',
 'Husky Energy',
 'China Energy Engineering',
 'Abertis',
 'Huatai Securities',
 'Luxottica Group',
 'Teck Resources',
 'Lotte Chemical',
 'Tohoku Electric Power',
 'Western Digital',
 'National Bank of Kuwait',
 'Rolls-Royce Holdings',
 'Japan Airlines',
 'Credicorp',
 'UPM-Kymmene',
 'Guangdong Wens Foodstuffs Group',
 'Toyota Tsusho',
 'Wipro',
 'Hilton',
 'Daqin Railway',
 'Lennar',
 'Ferrovial',
 'Anadarko Petroleum',
 'Scentre Group',
 'AutoZone',
 'Agrium',
 'Vestas Wind Systems',
 'China Resources Power',
 'Freeport-mcmoran',
 'Samba Financial Group',
 'ROSSETI',
 'Schaeffler',
 'GD Power Development',
 'Adecco',
 'Discovery Communications',
 'Canadian Natural Resources',
 'Ryanair Holdings',
 'Huntington Bancshares',
 'Hong Kong Exchanges',
 'Carlsberg',
 'Porsche Automobil Holding',
 'Kone',
 'CarMax',
 'Itaúsa',
 'Sime Darby',
 'Wolseley',
 'Air France-KLM',
 'Willis Towers Watson',
 'Welltower',
 'ITC',
 'KT Corp',
 'OMV Group',
 'Sumitomo Chemical',
 'Emaar Properties',
 'VEON',
 'Eiffage',
 'Bangkok Bank',
 'Metro Group',
 'CSL',
 'Hindustan Petroleum',
 'DR Horton',
 'Leonardo',
 'Shenwan Hongyuan Group',
 'LG Electronics',
 'Kuehne + Nagel',
 'FirstEnergy',
 'Magnit',
 'S&P Global',
 'Chongqing Rural Bank',
 'Toshiba',
 'General Growth Properties',
 'JFE Holdings',
 'Netease',
 'LabCorp',
 'ATOS',
 'Fanuc',
 'SM Investments',
 'Hyundai Steel',
 'Eastman Chemical',
 "O'Reilly Automotive",
 'L Brands',
 'First Republic Bank',
 'S-Oil',
 'EOG Resources',
 'Secom',
 'LG Corp',
 'Abu Dhabi Commercial Bank',
 'Hermès International',
 'Link REIT',
 'TD Ameritrade Holding',
 'Sanlam',
 'Daiichi Sankyo',
 'Norsk Hydro',
 'Williams',
 'Guangzhou Automobile Group',
 'American Financial Group',
 'NXP Semiconductors',
 'China National Nuclear Power',
 'Athene Holding',
 'Woodside Petroleum',
 'Boston Scientific',
 'Raiffeisen Bank International',
 'AMP',
 'Formosa Plastics',
 'China Steel',
 'Bank of Ireland',
 'China Gezhouba',
 'Bâloise Group',
 'Rakuten',
 'Ameren',
 'Symantec',
 'Yara International',
 'Assa Abloy',
 'Shengjing Bank',
 'Aena',
 'Mega Financial Holding',
 'Shanghai International Port',
 'Tokyo Gas',
 'Mohawk Industries',
 'Ooredoo Telecom',
 'China Galaxy Securities',
 'Unipol Gruppo',
 'Quanta Computer',
 'Lam Research',
 'China Merchants Securities',
 'Bank of Jinzhou',
 'Entergy',
 'Canadian Pacific Railway',
 'JM Smucker',
 'NEC',
 'Kingfisher',
 'Lear',
 'Taisei',
 'Kajima',
 'Sandvik',
 'DP World',
 'Pegatron',
 'Power Grid of India',
 'Obayashi',
 'Zimmer Biomet',
 'Devon Energy',
 'Hormel Foods',
 'Julius Baer Group',
 'S.f. Holding',
 'Schindler Holding',
 'Avalonbay Communities',
 'Cencosud',
 'JBS',
 'Uniper',
 'Suning Appliance',
 'Yahoo!',
 'L3 Technologies',
 'CEZ Group',
 'PKO Bank Polski',
 'Alliance Data Systems',
 'AerCap Holdings',
 'Genuine Parts',
 'Fortis (Canada)',
 'Infineon Technologies',
 'Klepierre',
 'Randstad Holding',
 'Skanska',
 'Raymond James Financial',
 'Gemdale',
 'Invesco',
 'DSM',
 'Ageas',
 'Zhejiang Zheneng Electric Power',
 'Mahindra & Mahindra',
 'Swatch Group',
 'Huishang Bank',
 'Vornado Realty',
 'Everest Re Group',
 'Bank Hapoalim',
 'Shimao Property Holdings',
 'Saudi British Bank',
 'Bank Negara Indonesia',
 'Inner Mongolia Yili',
 'Asr Nederland',
 'Beiersdorf',
 'Sharp',
 'Salesforce.com',
 'Aluminum Corp of China',
 'Mercantil Servicios',
 'Halkbank',
 'Guangzhou R&F',
 'Tesla',
 'Tokyu',
 'Neste Oil',
 'CMS Energy',
 'Conagra Brands',
 'China Shipbuilding Industry',
 'Jeronimo Martins',
 'Fairfax Financial',
 'Westfield',
 'Keyence',
 'Banque Saudi Fransi',
 'Towngas',
 'Galaxy Entertainment',
 'WR Berkley',
 'CapitaLand',
 'Shimizu',
 'Snam',
 'VakifBank',
 'Baker Hughes',
 'Onex',
 'Publicis Groupe',
 "St. James's Place",
 'Hershey',
 'CenterPoint Energy',
 'HCL Technologies',
 'Riyad Bank',
 'TUI',
 'BOE Technology Group',
 'UC Rusal',
 'Idemitsu Kosan',
 'WestRock',
 'Deutsche Wohnen',
 'Public Storage',
 'Mebuki Financial Group',
 'Comerica',
 'Voya Financial',
 'Arch Capital Group',
 'Daito Trust Construction',
 'Fiserv',
 'Ventas',
 'CBRE Group',
 'Huadian Power International',
 'Markel',
 'Fidelity National Financial',
 'Inpex',
 'Leucadia National',
 'China Coal Energy',
 'Ultrapar Participacoes',
 'Bank Of Hangzhou',
 'Electronic Arts',
 'Fortive',
 'CP All',
 'Amphenol',
 'Regeneron Pharmaceuticals',
 'Mediobanca',
 'Asahi Glass',
 'Universal Health',
 'Mediatek',
 'Singapore Airlines',
 'Banco BTG Pactual Participations',
 'Suntory Beverage & Food',
 'Shanghai Pharmaceuticals',
 'Netflix',
 'CGI Group',
 'Gap',
 'Hankyu Hanshin Holdings',
 'Dr Pepper Snapple Group',
 ...]

In [45]:
companies_test = companies_real

In [46]:
for i, row in companies_test.iterrows():
    if row["Company"] in forbes_list:
        companies_test.drop(index=i, axis=0, inplace=True)
    companies_test.reset_index(drop=True, inplace=True)

KeyError: '[1053] not found in axis'

In [ ]:
companies_test.head()

In [47]:
companies_real.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Company                  1052 non-null   object
 1   Sales ($billion)         1052 non-null   float64
 2   Profits ($billion)       1052 non-null   float64
 3   Assets ($billion)        1052 non-null   float64
 4   Market Value ($billion)  1052 non-null   float64
 5   Country                  1052 non-null   object
 6   Continent                1052 non-null   object
 7   Latitude                 1052 non-null   float64
 8   Longitude                1052 non-null   float64
dtypes: float64(6), object(3)
memory usage: 74.1+ KB

In [48]:
companies_real.Country.value_counts()

USA                     305
Japan                   117
China                    73
UK                       54
India                    39
South Korea              38
France                   35
Canada                   32
Hong Kong                27
Germany                  24
Taiwan                   22
Australia                22
Brazil                   20
Russia                   18
Sweden                   16
Spain                    16
Italy                    16
Singapore                13
Ireland                  12
The Netherlands          11
Malaysia                 10
South Africa             10
Finland                   9
Thailand                  9
Mexico                    9
United Arab Emirates      8
Greece                    8
Belgium                   8
Denmark                   6
Turkey                    6
Bermuda                   6
Qatar                     6
Saudi Arabia              6
Israel                    6
Chile                     4
Norway                    4
Philippines               3
Poland                    3
Portugal                  2
Colombia                  2
Indonesia                 2
Morocco                   2
Lebanon                   2
Peru                      1
Vietnam                   1
Jordan                    1
New Zealand               1
Liberia                   1
Egypt                     1
Hungary                   1
Kuwait                    1
Panama                    1
Pakistan                  1
Luxembourg                1
Name: Country, dtype: int64

In [49]:
companies_real.Continent.value_counts()

Asia             385
North America    353
Europe           250
South America     27
Oceania           23
Africa            14
Name: Continent, dtype: int64

In [50]:
start_up = pd.read_csv("./List of 700 Unicorn Companies.csv")
start_up.head()

,Company name,Valuation (in $B),Date Joined,Country of origin,City,Industry,Investors
0,Bytedance,$140,04-07-2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
2,SpaceX,$74,12-01-2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
3,Didi Chuxing,$62,3/31/2015,China,Beijing,Auto & transportation,"Matrix Partners, Tiger Global Management, Soft..."
4,Klarna,$45.6,12-12-2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."

In [51]:
start_ups = start_up.drop(["Date Joined", "Investors"], axis=1)
display(start_ups)

,Company name,Valuation (in $B),Country of origin,City,Industry
0,Bytedance,$140,China,Beijing,Artificial intelligence
1,Stripe,$95,United States,San Francisco,Fintech
2,SpaceX,$74,United States,Hawthorne,Other
3,Didi Chuxing,$62,China,Beijing,Auto & transportation
4,Klarna,$45.6,Sweden,Stockholm,Fintech
...,...,...,...,...,...
703,Shippo,$1,United States,San Francisco,"Supply chain, logistics, & delivery"
704,Thirty Madison,$1,United States,New York,Health
705,LetsGetChecked,$1,Ireland,Dublin,Health
706,VerbIT,$1,Israel,Tel Aviv,Artificial intelligence
707,Aura,$1,United States,Burlington,Cybersecurity

In [52]:
companies_real.to_csv("companies.csv")

In [53]:
forbes_all.to_csv("forbes.csv")

In [54]:
start_ups.to_csv("start.csv")